# User: danv
# Minimalist .gitignore for simple projects

# Off-build src file directories 
[Bb]ones/
[Ee]xclude/

# For VS Code environment (Rem-out if single-user project)
#.env
#.vscode/
#*.code-workspace
