body {

   background-color:lightgoldenrodyellow;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

table {

   margin-left: auto;
   margin-right: auto;
}

tr, th, td {
   position: relative;
   margin-left: 60px;
   border: 1px solid black;
   padding: 10px
}

#heading {

   background-color: blue;
   color:darkgoldenrod;
   text-align: center;
   padding: 10px
}